<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Falcons Score Sheet</title>
  <!-- Stylesheet -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <!-- JavaScript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>
</head>
<body role="document">

<!-- Header Navigation -->
<%= render partial:"application/header", selected_season:@selected_season, seasons_menu:@seasons_menu %>
<!--// Header Navigation -->

<!-- Contents -->
<div class="container" role="main">

<%= yield %>

</div>
<!--// Contents -->

</body>
</html>