<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Score Sheet', root_path, class:'navbar-brand'%>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to score_sheet_index_path(season_id:@season.id) do %>
            <%= @season.season_name %>
              (<%= @season.season_start %> 〜 <%= @season.season_end %>)
          <% end %>
        </li>
        <!--Dropdown Menu-->
        <% @seasons_menu.each do |seasons| %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%=seasons.max.season_name%>←<%=seasons.min.season_name%><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% seasons.each do |season| %>
            <li>
              <%= link_to season.season_name, score_sheet_index_path(season_id:season.id) %>
            </li>
            <%end%>
          </ul>
        </li>
        <% end %>
        <!--// Dropdown Menu-->
      </ul>
      <!-- Member Info -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if session[:is_login] %>
              <%= link_to nil, class:'navbar-brand' do %>
                <span class="glyphicon glyphicon-user"></span>
                <%= session[:member_name]%>
              <% end %>
          <% else %>
              <%= link_to 'Login', auth_login_path, class:'navbar-brand' %>
          <% end %>
        </li>
        <li>
          <% if session[:is_login] %>
              <%= link_to auth_logout_path do %>
              <span class="label label-primary">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true">Logout</span>
              </span>
              <% end %>
          <% end %>
        </li>
      </ul>
      <!--// Member Info -->
    </div>
  </div>
</nav>
