<!-- Game Navi -->
<%= render partial: 'application/games_navi', selected_game:@game, games_navi:@games_navi %>
<!--// Game Navi -->

<p></p>

<!-- Game Table-->
<h4>Game</h4>
<%=form_for @game do |f| %>
<div>
    <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">

            <thead>
            <tr>
              <th colspan="2">Date : <%= f.date_select :game_date, {:use_month_numbers => true} %></th>
              <th colspan="3">Time : <span><%= f.time_select :game_time, {:minute_step => 30, :time_separator => ""} %></span></th>
              <th colspan="3">
                <% if @game.playoff_flg == 1 %>
                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                    Play Off Game
                <% end%>
                <%= f.hidden_field :playoff_flg %>
              </th>
              <th colspan="4">Place : <%= f.text_field :game_place %></th>
            </tr>
            <tr>
              <th colspan="12">Div :
                <% @divisions.each do |division|%>
                    <%= division.division_en_name %>
                    <%= f.radio_button :division_id, division.id %> /
                <% end %>
              </th>
            </tr>
            <tr>
              <th>Goal</th>
              <th colspan="2">Team</th>
              <th>1</th>
              <th>2</th>
              <th>OT</th>
              <th>Total(P)</th>
              <th>SOG</th>
              <th>1</th>
              <th>2</th>
              <th>OT</th>
              <th>Total(S)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>Visitor</th>
              <!--Away Team-->
              <td colspan="2">
                <%= f.collection_select(:away_team_id, @season_teams, :team_id, :team_name) %>
              </td>
              <!--1-->
              <td>
                <%= f.text_field :away_team_p1_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--2-->
              <td>
                <%= f.text_field :away_team_p2_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--OT-->
              <td>
                <%= f.text_field :away_team_ot_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--Total(P)-->
              <td>
                <%= f.text_field :away_team_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--SOG-->
              <td>-</td>
              <!--1-->
              <td>
                <%= f.text_field :away_team_p1_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--2-->
              <td>
                <%= f.text_field :away_team_p2_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--OT-->
              <td>
                <%= f.text_field :away_team_ot_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--Total(S)-->
              <td>
                <%= f.text_field :away_team_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
            </tr>
            <tr>
              <th>Home</th>
              <!--Home Team-->
              <td colspan="2">
                <%= f.collection_select(:home_team_id, @season_teams, :team_id, :team_name) %>
              </td>
              <!--1-->
              <td>
                <%= f.text_field :home_team_p1_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--2-->
              <td>
                <%= f.text_field :home_team_p2_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--OT-->
              <td>
                <%= f.text_field :home_team_ot_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--Total(P)-->
              <td>
                <%= f.text_field :home_team_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--SOG-->
              <td>-</td>
              <!--1-->
              <td>
                <%= f.text_field :home_team_p1_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--2-->
              <td>
                <%= f.text_field :home_team_p2_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--OT-->
              <td>
                <%= f.text_field :home_team_ot_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--Total-->
              <td>
                <%= f.text_field :home_team_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
<% end %>
<!--// Game Table-->


<!-- Roster Table-->
<h4>Roster</h4>
<div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Pos.</th>
            <th>Name</th>
            <th>前半</th>
            <th>後半</th>
            <th>OT</th>
            <th>MVP</th>
          </tr>
          </thead>
          <!--Goalie-->
          <tbody>
          <% @game_goalies.each do |goalie| %>
              <tr>
                <!-- # -->
                <td><input type="text" size="2" maxlength="3" style="text-align:right;" value="<%= goalie.member_id %>"></td>
                <!-- G -->
                <td><%= goalie.position_name %></td>
                <!-- Name -->
                <td><span><%= goalie.goalie_name %></span></td>
                <!-- 前半 -->
                <td>
                  <%= text_field_tag :goal_against, goalie.goal_against,{size:2, maxlength:3, style:'text-align:right;'} %>/
                  <%= text_field_tag :shots_against, goalie.shots_against,{size:2, maxlength:3, style:'text-align:right;'} %>
                </td>
                <!-- 後半 -->
                <td><input type="text" size="2" maxlength="3" style="text-align:right;">/<input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                <!-- OT -->
                <td><input type="text" size="2" maxlength="3" style="text-align:right;">/<input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                <!-- MVP -->
                <td>
                  <input type="hidden" value="<%= goalie.mvp_flg %>">
                  <% if goalie.mvp_flg == 0 %>
                  <span class="label label-default">
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  </span>
                  <% else %>
                  <span class="label label-warning">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </span>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
          <!--//Goalie-->

          <!--Player-->
          <thead>
          <tr>
            <th>#</th>
            <th>Pos.</th>
            <th>Name</th>
            <th>G</th>
            <th>A</th>
            <th>P</th>
            <th>MVP</th>
          </tr>
          </thead>
          <tbody>
          <% @game_players.each do |player| %>
          <tr>
            <!-- # -->
            <td><input type="text" size="2" maxlength="3" style="text-align:right;" value="<%= player.member_id %>"></td>
            <!-- Pos. -->
            <td><span><%= player.position_name %></span></td>
            <!-- Name -->
            <td><span><%= player.player_name %></span></td>
            <!-- G -->
            <td><input type="text" size="2" maxlength="3" style="text-align:right;" value="<%= player.goal %>"></td>
            <!-- A -->
            <td><input type="text" size="2" maxlength="3" style="text-align:right;" value="<%= player.assist %>"></td>
            <!-- P -->
            <td><input type="text" size="2" maxlength="3" style="text-align:right;" value="<%= player.penalties %>"></td>
            <!-- MVP -->
            <td>
                <input type="hidden" value="<%= player.mvp_flg %>">
              <% if player.mvp_flg == 0 %>
                  <span class="label label-default">
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  </span>
              <% else %>
                  <span class="label label-warning">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </span>
              <% end %>
            </td>
          </tr>
          <% end %>
          </tbody>
          <!--//Player-->
        </table>
      </div>
    </div>
</div>
<!--// Roster Table-->

<!-- Goals Table-->
<h4>Goals</h4>
<div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                      <th>Half</th>
                      <th>Time</th>
                      <th>G</th>
                      <th>Name</th>
                      <th>A</th>
                      <th>Name</th>
                      <th>A</th>
                      <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--// Goals Table-->


<!-- Penalty Table-->
    <h4>Penalty summary</h4>
<div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                      <th>Half</th>
                      <th>#</th>
                      <th>Name</th>
                      <th>Time</th>
                      <th>P.Time</th>
                      <th>Penalty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                    <tr>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><span></span></td>
                      <td>
                        <input type="text" size="2" maxlength="3" style="text-align:right;">:
                        <input type="text" size="2" maxlength="3" style="text-align:right;">
                      </td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                      <td><input type="text" size="2" maxlength="3" style="text-align:right;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Penalty Table-->

