<!-- Game Navi -->
<%= render partial: 'application/games_navi' %>
<!--// Game Navi -->

<p></p>

<%=form_for @game do |f| %>
<!-- Game Table-->
<div style="text-align: right">
  <%= link_to score_sheet_edit_path(season_id:@game.season_id, game_id:@game.id) do%>
      <span class="label label-info">
            <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit</span>
      </span>
  <% end %>
</div>
<h4>
  New Game
  <%= f.collection_select(:season_id, @seasons, :id, :season_name) %>
  <%= f.text_field :game_name %></h4>
<div>
    <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">

            <thead>
            <tr>
              <th colspan="2">Date : <%= f.date_select :game_date, {:use_month_numbers => true} %></th>
              <th colspan="3">Time : <span><%= f.time_select :game_time, {:minute_step => 30, :time_separator => ""} %></span></th>
              <th colspan="3">
                <%= f.collection_select(:game_type, @game_types, :id, :game_type) %>
              </th>
              <th colspan="4">Place : <%= f.text_field :game_place %></th>
            </tr>
            <tr>
              <th colspan="12">Div :
                <% @divisions.each do |division|%>
                    <%= division.division_en_name %>
                    <%= f.radio_button :division_id, division.id %> /
                <% end %>
              </th>
            </tr>
            <tr>
              <th style="text-align: center">Goal</th>
              <th colspan="2" style="text-align: center">Team</th>
              <th style="text-align: center">1</th>
              <th style="text-align: center">2</th>
              <th style="text-align: center">OT</th>
              <th style="text-align: center">Total(P)</th>
              <th style="text-align: center">SOG</th>
              <th style="text-align: center">1</th>
              <th style="text-align: center">2</th>
              <th style="text-align: center">OT</th>
              <th style="text-align: center">Total(S)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th style="text-align: center">Visitor</th>
              <!--Away Team-->
              <td colspan="2">
                <%= f.collection_select(:away_team_id, @season_teams, :team_id, :team_name) %>
              </td>
              <!--1-->
              <td style="text-align: right">
                <%= f.text_field :away_team_p1_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--2-->
              <td style="text-align: right">
                <%= f.text_field :away_team_p2_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--OT-->
              <td style="text-align: right">
                <%= f.text_field :away_team_ot_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--Total(P)-->
              <td style="text-align: right">
                <%= f.text_field :away_team_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--SOG-->
              <td style="text-align: center">-</td>
              <!--1-->
              <td style="text-align: right">
                <%= f.text_field :away_team_p1_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--2-->
              <td style="text-align: right">
                <%= f.text_field :away_team_p2_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--OT-->
              <td style="text-align: right">
                <%= f.text_field :away_team_ot_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--Total(S)-->
              <td style="text-align: right">
                <%= f.text_field :away_team_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
            </tr>
            <tr>
              <th style="text-align: center">Home</th>
              <!--Home Team-->
              <td colspan="2">
                <%= f.collection_select(:home_team_id, @season_teams, :team_id, :team_name) %>
              </td>
              <!--1-->
              <td style="text-align: right">
                <%= f.text_field :home_team_p1_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--2-->
              <td style="text-align: right">
                <%= f.text_field :home_team_p2_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--OT-->
              <td style="text-align: right">
                <%= f.text_field :home_team_ot_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--Total(P)-->
              <td style="text-align: right">
                <%= f.text_field :home_team_score, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--SOG-->
              <td style="text-align: center">-</td>
              <!--1-->
              <td style="text-align: right">
                <%= f.text_field :home_team_p1_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--2-->
              <td style="text-align: right">
                <%= f.text_field :home_team_p2_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--OT-->
              <td style="text-align: right">
                <%= f.text_field :home_team_ot_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
              <!--Total-->
              <td style="text-align: right">
                <%= f.text_field :home_team_shots, {size:2, maxlength:3, style:'text-align:right;'} %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
<!--// Game Table-->


<!-- Roster Table-->
<h4>Roster</h4>
<div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th style="text-align: center">#</th>
            <th style="text-align: center">Pos.</th>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">出欠</th>
            <th style="text-align: center">前半</th>
            <th style="text-align: center">後半</th>
            <th style="text-align: center">OT</th>
            <th style="text-align: center">MVP</th>
          </tr>
          </thead>
          <!--Goalie-->
          <tbody>
          <% @season_goalies.each do |goalie| %>
              <tr>
                <!-- # -->
                <td style="text-align: center">
                  <%= goalie.member.jersey_number %>
                </td>
                <!-- Pos. -->
                <td style="text-align: center">
                  <%= goalie.member.position.position_name %>
                </td>
                <!-- Name -->
                <td>
                  <span><%= goalie.member.member_name %></span>
                </td>
                <!-- 出欠 -->
                <td style="text-align: center">
                  <% join_flg = "join_flg[" + goalie.member.id.to_s + "]" %>
                  <span><%= check_box_tag join_flg, 1 %></span>
                </td>
                <!-- 前半 -->
                <td style="text-align: right">
                  <%= text_field_tag :goal_against, '', {size:2, maxlength:3, style:'text-align:right;'} %>/
                  <%= text_field_tag :shots_against, '', {size:2, maxlength:3, style:'text-align:right;'} %>
                </td>
                <!-- 後半 -->
                <td style="text-align: right">
                  <%= text_field_tag :goal_against, '', {size:2, maxlength:3, style:'text-align:right;'} %>/
                  <%= text_field_tag :shots_against, '', {size:2, maxlength:3, style:'text-align:right;'} %>
                </td>
                <!-- OT -->
                <td style="text-align: right">
                  <%= text_field_tag :goal_against, '', {size:2, maxlength:3, style:'text-align:right;'} %>/
                  <%= text_field_tag :shots_against, '', {size:2, maxlength:3, style:'text-align:right;'} %>
                </td>
                <!-- MVP -->
                <td style="text-align: center">
                  <% mvp_flg = "mvp_flg[" + goalie.member.id.to_s + "]" %>
                  <span><%= check_box_tag mvp_flg, 0 %></span>
                </td>
              </tr>
          <% end %>
          </tbody>
          <!--//Goalie-->

          <!--Player-->
          <thead>
          <tr>
            <th style="text-align: center">#</th>
            <th style="text-align: center">Pos.</th>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">出欠</th>
            <th style="text-align: center">G</th>
            <th style="text-align: center">A</th>
            <th style="text-align: center">P</th>
            <th style="text-align: center">MVP</th>
          </tr>
          </thead>
          <tbody>
          <% @season_players.each do |player| %>
          <tr>
            <!-- # -->
            <td style="text-align: center">
              <%= player.member.jersey_number %>
            </td>
            <!-- Pos. -->
            <td style="text-align: center">
              <span><%= player.member.position.position_name %></span>
            </td>
            <!-- Name -->
            <td>
              <span><%= player.member.member_name %></span>
            </td>
            <!-- 出欠 -->
            <td style="text-align: center">
              <% join_flg = "join_flg[" + player.member.id.to_s + "]" %>
              <span><%= check_box_tag join_flg, 1 %></span>
            </td>
            <!-- G -->
            <td style="text-align: right">
              <%= text_field_tag :goal, '', {size:2, maxlength:3, style:'text-align:right;'} %>
            </td>
            <!-- A -->
            <td style="text-align: right">
              <%= text_field_tag :assist, '', {size:2, maxlength:3, style:'text-align:right;'} %>
            </td>
            <!-- P -->
            <td style="text-align: right">
              <%= text_field_tag :penalties, '', {size:2, maxlength:3, style:'text-align:right;'} %>
            </td>
            <!-- MVP -->
            <td style="text-align: center">
              <% mvp_flg = "mvp_flg[" + player.member.id.to_s + "]" %>
              <span><%= check_box_tag mvp_flg, 0 %></span>
            </td>
          </tr>
          <% end %>
          </tbody>
          <!--//Player-->
        </table>
      </div>
    </div>
</div>
<!--// Roster Table-->

<!-- Goals Table-->
<h4>Goals</h4>
<div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                      <th style="text-align: center">Half</th>
                      <th style="text-align: center">Time</th>
                      <th style="text-align: center">G</th>
                      <th style="text-align: center">Name</th>
                      <th style="text-align: center">A</th>
                      <th style="text-align: center">Name</th>
                      <th style="text-align: center">A</th>
                      <th style="text-align: center">Name</th>
                    </tr>
                </thead>
              <tbody>
                    <% @goals.each do |goal|%>
                    <tr>
                      <!--Half-->
                      <td style="text-align: center">
                        <%= text_field_tag :period, goal.period, {size:2, maxlength:3, style:'text-align:right;'} %>
                      </td>
                      <!--Time-->
                      <td style="text-align: right">
                        <%= text_field_tag :goal_min, goal.goal_min, {size:2, maxlength:3, style:'text-align:right;'} %> :
                        <%= text_field_tag :goal_sec, goal.goal_sec, {size:2, maxlength:3, style:'text-align:right;'} %>
                      </td>
                      <!--G-->
                      <td style="text-align: center">
                        <%= text_field_tag :goal_member_id, goal.goal_member_id, {size:2, maxlength:3, style:'text-align:right;'} %>
                      </td>
                      <!--Name-->
                      <td><span></span></td>
                      <!--A-->
                      <td style="text-align: center">
                        <%= text_field_tag :assist1_member_id, goal.assist1_member_id, {size:2, maxlength:3, style:'text-align:right;'} %>
                      </td>
                      <!--Name-->
                      <td><span></span></td>
                      <!--A-->
                      <td style="text-align: center">
                        <%= text_field_tag :assist2_member_id, goal.assist2_member_id, {size:2, maxlength:3, style:'text-align:right;'} %>
                      </td>
                      <!--Name-->
                      <td><span></span></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--// Goals Table-->


<!-- Penalty Table-->
<h4>Penalty summary</h4>
<div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                      <th style="text-align: center">Half</th>
                      <th style="text-align: center">#</th>
                      <th style="text-align: center">Name</th>
                      <th style="text-align: center">Time</th>
                      <th style="text-align: center">P.Time</th>
                      <th style="text-align: center">Penalty</th>
                    </tr>
                </thead>
                <tbody>
                <% @game_panalties.each do |penalty| %>
                    <tr>
                      <!--Half-->
                      <td style="text-align: center">
                        <%= text_field_tag :period, penalty.period, {size:2, maxlength:3, style:'text-align:right;'} %>
                      </td>
                      <!--#-->
                      <td style="text-align: center">
                        <%= text_field_tag :penalty_member_id, penalty.penalty_member_id, {size:2, maxlength:3, style:'text-align:right;'} %>
                      </td>
                      <!--Name-->
                      <td><span></span></td>
                      <!--Time-->
                      <td style="text-align: right">
                        <%= text_field_tag :penalty_min, penalty.penalty_min, {size:2, maxlength:3, style:'text-align:right;'} %> :
                        <%= text_field_tag :penalty_sec, penalty.penalty_sec, {size:2, maxlength:3, style:'text-align:right;'} %>
                      </td>
                      <!--P.Time-->
                      <td style="text-align: right">
                        <%= text_field_tag :penalty_time, penalty.penalty_time, {size:2, maxlength:3, style:'text-align:right;'} %>
                      </td>
                      <!--Penalty-->
                      <td>
                        <%= text_field_tag :penalty_id, penalty.id %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Penalty Table-->
<% end %>

